emoji==2.12.1
lxml==4.9.4
wget
gtts==2.5.1
beautifulsoup4==4.12.3
requests==2.32.3
python-telegram-bot==22.0
sqlalchemy==1.4.46
psycopg2-binary
feedparser==6.0.11
faker
future==0.18.3
jikanpy==4.3.2
hachoir==3.3.0
pykeyboard==0.1.5
pynewtonmath==1.0.1
aiofiles==24.1.0
ffmpeg-python==0.2.0
spongemock
zalgo-text
geopy==2.4.1
nltk
psutil==5.9.8
aiohttp>=2.2.5
asyncio==3.4.3
pillow==10.3.0
currencyconverter==0.17.26
googletrans==4.0.0rc1
google-trans-new
speedtest-cli==2.1.3
regex==2024.5.15
bleach==6.1.0
wikipedia==1.4.0
markdown2==2.5.0
telethon==1.36.0
telegraph==2.2.0
heroku3
spamwatch
alphabet_detector
pyrate-limiter==2.5.0
cachetools==4.2.2
ujson
pretty_errors
pygithub
pydictionary==2.0.1
tgcrypto==1.2.5
pyrogram==2.0.106
git+https://github.com/Sorrybabe/downloader
yt_dlp 
youtube_dl
youtube_search
youtube_search_python==1.4.6
lyrics_extractor
cloudscraper==1.2.71
dateparser
pymongo==4.9.2
dnspython==2.1.0
secureme
apscheduler==3.6.3
emoji-country-flag
countryinfo==0.1.2
html2text==2024.2.26
bs4==0.0.2
pySmartDL
bing_image_downloader
search_engine_parser==0.6.8
pytz
tswift
python-arq==6.0.7
envparse
better_profanity
textblob 
nudepy
nekos.py
motor==3.6.0
gpytranslate
fontTools
opencv-python-headless
odmantic
pendulum
fuzzysearch
img2pdf
git+https://github.com/python-telegram-bot/ptbcontrib.git
carbonnow
lyricsgenius
pyromod
uvloop
openai
